{% extends 'references/base.html' %}


{% block title %}
references
{% endblock title %}

{% block content %}
    <h1>references</h1>
   
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{  post.titleRf }}
            </a>
        </h2>
           
        
        <p class="date">
            Published {{ post.titleRf }} by {{ post.authorRf }}
        </p>
        {{ post.body|truncatewords_html:30 }}
        {% if post.authorRf == request.user %}
        <a href="{% url 'references:post_update' post.id %}">Update Post</a> | 
        <a href="{% url 'references:post_delete' post.id %}">Delete Post</a>
        {% endif %}
    {% endfor %}

{% endblock content %}